body {
    font-family: 'Inter', sans-serif;
    font-size: 16px;
}
p {
    font-family: 'Lexend Deca', sans-serif;
}
.fondoMain {
    background-color: hsl(233, 47%, 7%);
}
.cardBackground {
    background-color: hsl(244, 38%, 16%);
}
